{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title%}

{% block start %}

    <div class="conatiner mt-5 p-4">
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">S. NO</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Vote</th>
          </tr>
        </thead>
        <tbody>
            {% for people in pepoles %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td {% if people.age < 18 %} style="background-color:red" {% else %}style="background-color:green"{% endif %}>
                {% if people.age >= 18 %}
                ✅
                {% else %}
                ❌
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock start %}